.card{
    /* background-color: red; */
    width: 258px;
    height: 258px;
    margin: 10px;
}
.back{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.back img{
    width: 100%;
    /* height: 100%; */
}
.back div{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: aqua; */
}

.back p{
    /* background-color: red; */
    margin: 15px 0 0 0;
}