.servicios{
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    align-self: center;

}

.servicios h1{
    margin:  0 120px 0 0;
}
.productos{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}